services:
  postgres:
#    image: postgres
    image: ghcr.io/pgmq/pg18-pgmq
    platform: linux/arm64
    restart: unless-stopped
    ports:
      - "15432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=test
    # Override default config:
    # max_connections=500, shared_buffers=512MB
    # Testing purposes only.
    command:
      - "postgres"
      - "-c"
      - "max_connections=500"
      - "-c"
      - "shared_buffers=512MB"
  mysql:
    image: mysql
    platform: linux/arm64
    restart: unless-stopped
    ports:
      - "13306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
      - MYSQL_DATABASE=test
      - MYSQL_USER=mysql
      - MYSQL_PASSWORD=mysql
